@use 'variables';

@mixin decoration-paragraphs {
    font-family: variables.$font-montserrat;
    font-size: variables.$paragraph-size-1;
    font-weight: variables.$weight-400;
    color: variables.$text-color-1;
    line-height: 20px;
    margin-bottom: 78px;
}

//style button for section 1 and 2
@mixin cta-button ($background,$color) {
    text-decoration: none;
    text-transform: uppercase;
    font-family: variables.$font-montserrat;
    font-weight: variables.$weight-700;
    color: $color;
    background-color: $background;
    border: none;
    text-align: center;
    padding: 16px 48px;
    border: 2px solid variables.$primary-color-1;
    transition: background-color 0.2s ease-out, color 0.2s ease-out;
}