$text-color-1: #1D1D1E;
$text-color-2: #FAFAFA;
$text-color-3: #414143;
$primary-color-1: #2B3E82;
$primary-color-2: #FDE9EB;
$font-philosopher: "Philosopher", sans-serif;
$font-montserrat: "Montserrat", sans-serif;

$textarea-size: 12px;
$buttom-size: 21px;
$weight-400: 400;
$weight-600: 600;
$weight-700: 700;

$li-nav-and-footer-768: 17px;
$li-nav-and-footer-1024: 21px;

$li-for-price-1024: 12px;
$li-for-price-1440: 21px;

$logo-size-375: 16px;
$logo-size-1024: 18px;
$logo-size-1440: 21px;

$p-hero-sect-375-N1: 12px;
$p-hero-sect-768-N1: 13px;
$p-hero-sect-1024-N1: 14px;
$p-hero-sect-1024-N2: 34px;

$p-hero-sect-1440-N1: 16px;
$p-hero-sect-1440-N2: 36px;

$heading-size-375: 25px;
$heading-size-768: 32px;
$heading-size-1024: 40px;
$heading-size-1440: 47px;


$legend-size-375: 20px;
$legend-size-1440: 27px;