$text-color-1: #1D1D1E;
$text-color-2: #FAFAFA;
$text-color-3: #414143;
$primary-color-1: #2B3E82;
$primary-color-2: #FDE9EB;
$font-philosopher: "Philosopher", sans-serif;
$font-montserrat: "Montserrat", sans-serif;

$legend-size: 27px;
$li-size: 21px;
$textarea-size: 12px;
$buttom-size: 21px;
$weight-400: 400;
$weight-600: 600;
$weight-700: 700;
$logo-size-1024: 18px;
$logo-size-1440: 21px;

$p-hero-sect-1024-N1: 14px;
$p-hero-sect-1024-N2: 34px;

$p-hero-sect-1440-N1: 16px;
$p-hero-sect-1440-N2: 36px;

$heading-size-1024: 40px;
$heading-size-1440: 47px;