$text-color-1: #1D1D1E;
$text-color-2: #FAFAFA;
$text-color-3: #414143;
$primary-color-1: #2B3E82;
$primary-color-2: #FDE9EB;
$font-philosopher: "Philosopher", sans-serif;
$font-montserrat: "Montserrat", sans-serif;
$all-heading-size: 47px;
$paragraph-size-1: 16px;
$paragraph-size-2: 36px;
$legend-size: 27px;
$li-size: 21px;
$textarea-size: 12px;
$buttom-size: 21px;
$weight-400: 400;
$weight-600: 600;
$weight-700: 700;