@use 'variables';
@use 'mixins';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
    font-family: variables.$font-philosopher;
    font-weight: variables.$weight-600;
    color: variables.$text-color-1;
    text-transform: uppercase;
    margin-bottom: 18px;
}

nav {
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 99;

    background-color: white;

    .logo {
        text-transform: uppercase;
        font-family: variables.$font-philosopher;
        font-weight: variables.$weight-700;
    }

    ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    li {
        display: inline-block;
        text-align: center;
    }

    a {
        position: relative;

        text-decoration: none;
        text-transform: uppercase;

        font-weight: variables.$weight-400;
        font-family: variables.$font-montserrat;
        color: variables.$text-color-1;

        display: block;

        &::after {
            content: "";
            position: absolute;
            left: 50%;

            width: 0;
            height: 2px;

            background-color: variables.$primary-color-1;

            transform: translateX(-50%);
            transition: width 0.2s ease-out;
        }

        &:hover::after {
            width: 100%;
        }
    }
}

section {
    width: 100%;
}

#home {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

    .text-content-home {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start
    }

    .decoration-paragraphs {
        font-family: variables.$font-montserrat;
    }

    .hero-pink-squa {
        background-color: variables.$primary-color-2;
        border: none;
    }

    .container-collage {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        position: relative;
    }

    .img-small {
        flex-shrink: 0;
        object-fit: fill;
    }

    .img-large {
        flex-shrink: 0;
        object-fit: cover;
    }

    .rectangle-on-collage {
        position: absolute;
        border: 2px solid variables.$primary-color-1;
    }
}

#about {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;

    .decoration-paragraphs {
        font-family: variables.$font-montserrat;
    }

    .about-pink-squa {
        background-color: variables.$primary-color-2;

        img {
            position: relative;
            top: -10px;
            left: -10px;
        }

        .rectangle-for-about {
            border: 2px solid variables.$primary-color-1;
            position: relative;
        }
    }

    .text-content-home {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    a {
        @include mixins.cta-button(variables.$text-color-2, variables.$primary-color-1);

        &:hover {
            background-color: variables.$primary-color-1;
            color: variables.$primary-color-2;
        }
    }
}

#reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .list-reviews {
        display: grid;
        justify-content: center;
    }

    .item-list-reviews {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
    }

    .decoration-paragraphs {
        font-family: variables.$font-montserrat;
        background-color: variables.$primary-color-2;
        flex: 1;
    }

    .top-rectangular-dark {
        position: absolute;
        border: 1px solid variables.$primary-color-1;
        z-index: -1;
    }

    .top-rectangular-light {
        position: absolute;
        border: 2px solid variables.$primary-color-2;
    }

    .bottom-rectangular {
        position: absolute;
        border: 1px solid variables.$primary-color-1;
        z-index: -1;
    }
}

#portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img {
        object-fit: cover;
    }

    .switch {
        outline: 2px solid transparent;
        outline-offset: 10px;

        transition: transform 0.3s ease-out, outline-color 0.3s ease-out, margin 0.3s ease-out;
    }

    .navigation-collage {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .portfolio-collage {
        display: flex;
        flex-direction: row;
        position: relative;
    }

    .pink-rectangular-portfolio {
        background-color: variables.$primary-color-2;
        position: absolute;
        z-index: -1;
    }

    .dark-border-rectangular-portfolio {
        border: 2px solid variables.$primary-color-1;
        position: absolute;
    }

    .dark-rectangular-portfolio {
        background-color: variables.$primary-color-1;
        position: absolute;
        z-index: -1;
    }

    .light-border-rectangular-portfolio {
        width: 448px;
        height: 160px;
        position: absolute;
        border: 2px solid variables.$primary-color-2;
    }

    .coll-left {
        display: flex;
        flex-direction: column;
    }

    .img-2 {
        object-position: center 30%;
    }

    .coll-right {
        display: flex;
        flex-direction: column;
    }

    .large-img-in-coll-right {
        display: flex;
        flex-direction: row;
        height: 100%;
    }

    .small-img-in-coll-right {
        display: flex;
        flex-direction: row;
    }
}

#price {
    display: flex;
    flex-direction: column;
    align-items: center;

    .list-type-price {
        display: flex;
        justify-content: center;
    }

    .card-price {
        display: flex;
        flex-direction: column;
        align-items: center;

        background-color: variables.$primary-color-2;
        border: none;
        outline: 2px solid transparent;
        
        transition: transform 0.2s ease-out, outline-color 0.2s ease-out, margin 0.2s ease-out;

        &:hover {
            outline-color: variables.$primary-color-1;
            transform: scale(1.1);
        }
    }

    img {
        object-fit: cover;
    }

    .hero-card {
        position: relative;
    }

    p {
        position: absolute;
        color: variables.$text-color-2;
        font-family: variables.$font-philosopher;
        width: 50%;
    }

    ul {
        display: flex;
        flex-direction: column;
    }

    li {
        list-style: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        font-family: variables.$font-montserrat;
        color: variables.$text-color-3;
    }

    .button-card-price {
        border: 2px solid variables.$primary-color-1;
        font-family: variables.$font-montserrat;
        font-weight: variables.$weight-700;
        text-decoration: none;
        text-transform: uppercase;
        color: variables.$primary-color-1;
        transition: background-color 0.2s ease-out, color 0.2s ease-out, ;

        &:hover {
            background-color: variables.$primary-color-1;
            color: variables.$text-color-2;
        }
    }
}

footer {
    background-color: variables.$primary-color-1;
    display: flex;
    justify-content: center;

    .variant-contact {
        width: 100%;
        display: flex;
    }

    fieldset {
        display: flex;
        flex-direction: column;
        border: none;
    }

    legend {
        font-family: variables.$font-philosopher;
        color: variables.$text-color-2;
    }

    label:last-of-type {
        margin-bottom: 58px;
    }

    input[type="tel"],
    input[type="email"],
    textarea {
        background-color: variables.$primary-color-1;
        border: 2px solid variables.$text-color-2;
        color: variables.$text-color-2;
        font-family: variables.$font-montserrat;
    }

    input::placeholder,
    textarea::placeholder {
        color: variables.$text-color-2;
        opacity: 0.8;
    }

    input[type="tel"]:focus,
    input[type="email"]:focus,
    textarea:focus {
        outline: none;
        border: 2px solid orange;
    }

    input:not(:focus):not(:placeholder-shown):valid,
    textarea:not(:focus):not(:placeholder-shown):valid {
        border: 2px solid rgb(37, 147, 37);
    }

    input:not(:focus):not(:placeholder-shown):invalid {
        border: 2px solid rgb(200, 60, 60);
    }

    input[type="button"] {
        @include mixins.cta-button(variables.$text-color-2, variables.$primary-color-1);
        cursor: pointer;
        align-self: flex-start;
        border: 2px solid variables.$text-color-2;

        &:hover {
            background-color: variables.$primary-color-1;
            border: 2px solid variables.$text-color-2;
            color: variables.$text-color-2;
        }
    }

    textarea {
        overflow-y: auto;

        scrollbar-width: thin;
        scrollbar-color: variables.$text-color-2 variables.$primary-color-1;

        resize: none;
    }

    h6, a {
        color: variables.$text-color-2;
    }

    a {
        text-decoration: none;
        font-family: variables.$font-montserrat;

        &:hover {
            color: orange;
        }
    }

    .list-social {
        display: flex;
        flex-direction: row;
    }

    li {
        display: flex;
        flex-direction: row;
        text-align: start;

        &:first-of-type {
            margin-bottom: 20px;
        }
    }
}

@media screen and (min-width: 375px) {
    h1, h2, h3, h4, h5, h6 {
        font-size: variables.$heading-size-375;
    }

    nav {
        width: 100%;
        padding: 5px 10px;
        flex-wrap: wrap;
        justify-content: center;

        .logo {
            font-size: variables.$logo-size-375;
        }

        a {
            font-size: variables.$p-hero-sect-768-N1;
            padding: 12px 10px;

            &::after {
                bottom: 8px;
            }
        }
    }

    section {
        padding: 40px 10px;
    }

    #home {
        gap: 60px;

        h1 {
            text-align: center;
        }

        padding-top: 100px;
        flex-direction: column;

        .text-content-home {
            min-width: 355px;
            text-align: justify;
        }

        .decoration-paragraphs {
            @include mixins.decoration-paragraphs(variables.$p-hero-sect-375-N1);
            line-height: 16px;
            margin-bottom: 18px;
        }

        a {
            @include mixins.cta-button(variables.$primary-color-1, variables.$primary-color-2);
            padding: 8px 20px;
            font-size: 12px;

            &:hover {
                background-color: variables.$text-color-2;
                color: variables.$primary-color-1;
            }
        }

        .hero-pink-squa {
            width: calc(614px * 0.5);
            height: calc(553px * 0.5);
        }

        .container-collage {
            width: calc(600px * 0.5);
            height: calc(500px * 0.5);
            padding-left: 23px;
            gap: 10px;
            top: -15px;
            left: -7px;
        }

        .img-small {
            width: calc(191px * 0.5);
            height: calc(297px * 0.5);
        }

        .img-large {
            width: calc(339px * 0.5);
            height: calc(297px * 0.5);
        }

        .rectangle-on-collage {
            width: calc(491px * 0.5);
            height: calc(674px * 0.5);
            top: -15px;
            left: 38px;
        }
    }

    #about {
        scroll-margin-top: 45px;
        flex-direction: column;
        gap: 20px;


        .about-pink-squa {
            width: calc(392px * 0.5);
            height: calc(492px * 0.5);

            img {
                width: calc(392px * 0.5);
                height: calc(492px * 0.5);
            }

            .rectangle-for-about {
                width: calc(392px * 0.5);
                height: calc(492px * 0.5);
                top: calc(-496px * 0.5);
            }
        }

        .decoration-paragraphs {
            @include mixins.decoration-paragraphs(variables.$p-hero-sect-375-N1);
            line-height: 16px;
            margin-bottom: 18px;
        }

        .text-content-home {
            min-width: 355px;
            text-align: justify;
            width: 100%;
        }

        h2 {
            width: 100%;
            text-align: center;
        }

        a {
            @include mixins.cta-button(variables.$text-color-2, variables.$primary-color-1);
            padding: 8px 20px;
            font-size: 12px;

            &:hover {
                background-color: variables.$text-color-2;
                color: variables.$primary-color-1;
            }
        }
    }

    #reviews {
        gap: 30px;
        
        img {
            max-width: calc(110px * 0.8);
            max-height: calc(110px * 0.8);
        }

        .list-reviews {
            grid-template-columns: calc(402px * 0.7);
        }

        .item-list-reviews:nth-child(2) {
            margin-top: 20px;
        }

        .decoration-paragraphs {
            padding: 8px;
            max-width: 305px;
        }

        .top-rectangular-dark {
            width: calc(157px * 0.8);
            height: calc(140px * 0.8);
            top: -19px;
            left: 93px;
        }

        .top-rectangular-light {
            width: calc(157px * 0.8);
            height: calc(140px * 0.8);
            top: -6px;
            left: 65px;
        }

        .item-list-reviews {
            gap: 30px;
        }

        .decoration-paragraphs {
            @include mixins.decoration-paragraphs(variables.$p-hero-sect-768-N1);
            text-align: justify;
        }

        a {
            @include mixins.cta-button(variables.$text-color-2, variables.$primary-color-1);

            &:hover {
                background-color: variables.$text-color-2;
                color: variables.$primary-color-1;
            }
        }

        .bottom-rectangular {
            width: calc(402px * 0.8);
            height: calc(254px * 0.8);
            top: 50px;
        }
    }

    #portfolio {
        scroll-margin-top: 40px;
        gap: 15px;

        .switch {
            display: none;
        }

        .portfolio-collage {
            gap: 4px;
        }

        .pink-rectangular-portfolio {
            top: -10px;
            left: -10px;
        }

        .pink-rectangular-portfolio {
            width: calc(237px * 0.4);
            height: calc(366px * 0.4);
        }
        
        .dark-border-rectangular-portfolio {
            width: calc(237px * 0.4);
            height: calc(366px * 0.4);
            top: 11px;
            left: 10px;
        }
        
        .dark-rectangular-portfolio {
            width: calc(448px * 0.4);
            height: calc(160px * 0.4);
            bottom: -10px;
            right: -10px;
        }
        
        .light-border-rectangular-portfolio {
            width: calc(448px * 0.4);
            height: calc(160px * 0.4);
            bottom: 8px;
            right: 8px;
        }

        .coll-left {
            gap: 6px;
        }

        .coll-right {
            gap: 4px;
        }

        .large-img-in-coll-right {
            gap: 4px;
        }

        .small-img-in-coll-right {
            gap: 6px;
        }

        .img-1, .img-2, .img-3, .img-8 {
            width: calc(277px * 0.35);
            height: calc(200px * 0.35);
        }
        
        .img-4 {
            width: calc(297px * 0.35);
            height: calc(420px * 0.35);
        }
        
        .img-5 {
            width: calc(382px * 0.35);
            height: calc(420px * 0.35);
        }
        
        .img-6, .img-7 {
            width: calc(191px * 0.35);
            height: calc(200px * 0.35);
        }
    }

    #price {
        height: calc(100% - 50px);
        scroll-margin-top: 40px;
        gap: 40px;

        p {
            left: 8px;
            bottom: 8px;
            font-size: variables.$p-hero-sect-1024-N2;
        }

        img {
            width: calc(255px * 0.7);
            height: calc(240px * 0.7);
        }

        ul {
            gap: 8px;
        }

        li {
            gap: 5px;
            font-size: variables.$li-for-price-1024;
        }

        .list-type-price {
            gap: 50px;
            flex-direction: column;
        }

        .card-price {
            gap: 25px;
            padding: 15px;
            outline-offset: 15px;
            
            &:hover {
                margin: 5px 0;
            }
        }

        .button-card-price {
            padding: 8px 52px;
            font-size: variables.$li-for-price-1024;
        }
    }
    
    footer {
        flex-direction: column;
        padding: 45px 10px;

        .variant-contact {
            flex-direction: column;
            justify-content: center;
            gap: 40px;
        }

        .contact-on-social {
            align-self: flex-start;
        }

        legend {
            font-size: variables.$legend-size-375;
            margin-bottom: 10px;
        }

        label {
            margin-bottom: 12px;
            width: 300px;
        }

        input[type="tel"],
        input[type="email"],
        textarea {
            width: 300px;
            padding: 3px 5px;
        }

        input[type="button"] {
            padding: 0px 50px;
        }

        .list-social {
            gap: 40px;
        }

        li {
            align-items: end;
            gap: 5px;

            &:first-of-type {
                margin-bottom: 6px;
            }
        }
    }
}

@media screen and (min-width: 758px) {
    h1, h2, h3, h4, h5, h6 {
        font-size: variables.$heading-size-768;
    }

    main {
        padding-top: 55.2px;
    }

    nav {
        width: 100%;
        padding: 0 43px;
        flex-wrap: nowrap;
        justify-content: space-between;

        .logo {
            font-size: variables.$logo-size-1024;
        }

        a {
            font-size: variables.$p-hero-sect-1024-N1;
            padding: 18px 20px;

            &::after {
                bottom: 11px;
            }
        }
    }

    section {
        scroll-margin-top: 55.2px;
        padding: 60px 43px;
    }

    #home {
        gap: 0px;

        h1 {
            text-align: left;
        }

        padding-top: 110px;
        flex-direction: row;

        .text-content-home {
            min-width: 200px;
            max-width: 300px;
            text-align: left;
        }

        .decoration-paragraphs {
            @include mixins.decoration-paragraphs(variables.$p-hero-sect-768-N1);
            margin-bottom: 40px;
        }

        a {
            @include mixins.cta-button(variables.$primary-color-1, variables.$primary-color-2);
            padding: 12px 30px;
            font-size: 16px;

            &:hover {
                background-color: variables.$text-color-2;
                color: variables.$primary-color-1;
            }
        }

        .hero-pink-squa {
            width: calc(614px * 0.6);
            height: calc(553px * 0.6);
        }

        .container-collage {
            width: calc(600px * 0.6);
            height: calc(500px * 0.6);
            padding-left: 23px;
            gap: 10px;
            top: -15px;
            left: -2px;
        }

        .img-small {
            width: calc(191px * 0.6);
            height: calc(297px * 0.6);
        }

        .img-large {
            width: calc(339px * 0.6);
            height: calc(297px * 0.6);
        }

        .rectangle-on-collage {
            width: calc(491px * 0.6);
            height: calc(674px * 0.6);
            top: -20px;
            left: 40px;
        }
    }

    #about {
        gap: 0;
        flex-direction: row;

        .about-pink-squa {
            width: calc(392px * 0.7);
            height: calc(492px * 0.7);

            img {
                width: calc(392px * 0.7);
                height: calc(492px * 0.7);
            }

            .rectangle-for-about {
                width: calc(392px * 0.7);
                height: calc(492px * 0.7);
                top: calc(-496px * 0.7);
            }
        }

        .decoration-paragraphs {
            @include mixins.decoration-paragraphs(variables.$p-hero-sect-768-N1);
            margin-bottom: 40px;
        }

        .text-content-home {
            width: calc(611px * 0.5);
            text-align: left;
        }

        h2 {
            width: 100%;
            text-align: left;
        }

        a {
            @include mixins.cta-button(variables.$text-color-2, variables.$primary-color-1);
            padding: 12px 30px;
            font-size: 16px;

            &:hover {
                background-color: variables.$text-color-2;
                color: variables.$primary-color-1;
            }
        }
    }

    #reviews {
        gap: 50px;

        .list-reviews {
            grid-template-columns: repeat(2, calc(402px * 0.8));
            gap: 15px;
        }

        .item-list-reviews:last-child {
            grid-column: 1 / -1;
            width: calc(402px * 0.8);
            justify-self: center;
        }

        .item-list-reviews:nth-child(2) {
            margin-top: 0;
        }

        .decoration-paragraphs {
            padding: 10px;
        }

        .top-rectangular-dark {
            top: -18px;
            left: 110px;
        }

        .top-rectangular-light {
            top: -8px;
            left: 88px;
        }

        .item-list-reviews {
            gap: 30px;
        }
    }

    #portfolio {
        scroll-margin-top: 0px;
        overflow: visible;
        gap: 20px;

        .switch {
            display: block;

            transform: scale(0.75);

            &:hover {
                transform: scale(90%);
                outline-color: variables.$primary-color-1;
            }
        }

        .navigation-collage {
            gap: 30px;
        }

        .portfolio-collage {
            gap: 10px;
        }

        .pink-rectangular-portfolio {
            top: -15px;
            left: -15px;
        }

        .pink-rectangular-portfolio {
            width: calc(237px * 0.55);
            height: calc(366px * 0.55);
        }
        
        .dark-border-rectangular-portfolio {
            width: calc(237px * 0.55);
            height: calc(366px * 0.55);
            top: 20px;
            left: 10px;
        }
        
        .dark-rectangular-portfolio {
            width: calc(448px * 0.55);
            height: calc(160px * 0.55);
            bottom: -15px;
            right: -15px;
        }
        
        .light-border-rectangular-portfolio {
            width: calc(448px * 0.55);
            height: calc(160px * 0.55);
            bottom: 10px;
            right: 15px;
        }

        .large-img-in-coll-right {
            gap: 20px;
        }

        .small-img-in-coll-right {
            gap: 20px;
        }

        .coll-left {
            gap: 20px;
        }

        .coll-right {
            gap: 20px;
        }
        
        .img-1, .img-2, .img-3, .img-8 {
            width: calc(277px * 0.55);
            height: calc(200px * 0.55);
        }
        
        .img-4 {
            width: calc(297px * 0.55);
            height: calc(420px * 0.55);
        }
        
        .img-5 {
            width: calc(382px * 0.55);
            height: calc(420px * 0.55);
        }
        
        .img-6, .img-7 {
            width: calc(191px * 0.55);
            height: calc(200px * 0.55);
        }
    }

    #price {
        height: calc(100% - 52.8px);
        scroll-margin-top: 0px;
        gap: 40px;

        p {
            left: 8px;
            bottom: 8px;
            font-size: variables.$p-hero-sect-1024-N2;
        }

        img {
            width: calc(255px * 0.7);
            height: calc(240px * 0.7);
        }

        ul {
            gap: 8px;
        }

        li {
            gap: 5px;
            font-size: variables.$li-for-price-1024;
        }

        .list-type-price {
            flex-direction: row;
            gap: 25px;
        }

        .card-price {
            gap: 24px;
            padding: 15px;
            outline-offset: 15px;

            &:hover {
                margin: 0 20px;
            }
        }

        .button-card-price {
            padding: 8px 52px;
            font-size: variables.$li-for-price-1024;
        }
    }

    footer {
        flex-direction: row;
        padding: 0 43px;

        form {
            margin: 56px 0;
        }

        legend {
            font-size: variables.$legend-size-1440;
            margin-bottom: 14px;
            line-height: 27px;
        }

        label {
            margin-bottom: 14px;
            width: 290px;
        }

        input[type="tel"],
        input[type="email"],
        textarea {
            width: 290px;
            padding: 8px 5px;
            font-size: variables.$textarea-size;
        }

        input[type="button"] {
            padding: 4px 70px;
        }

        textarea {
            min-height: 120px;
            max-height: 120px;
            min-width: 290px;
            max-width: 290px;
        }

        .variant-contact {
            gap: 0px;
            flex-direction: row;
            justify-content: space-between;
        }

        .contact-on-social {
            margin-bottom: 56px;
        }

        .contact-on-social {
            align-self: self-end;
        }

        .list-social {
            gap: 30px;
        }

        li {
            align-items: end;
            gap: 5px;

            &:first-of-type {
                margin-bottom: 10px;
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    h1, h2, h3, h4, h5, h6 {
        font-size: variables.$heading-size-1024;
    }

    main {
        padding-top: 55.2px;
    }

    nav {
        width: 100%;
        padding: 0 43px;

        .logo {
            font-size: variables.$logo-size-1024;
        }

        a {
            font-size: variables.$p-hero-sect-1440-N1;
            padding: 18px 20px;

            &::after {
                bottom: 11px;
            }
        }
    }

    section {
        scroll-margin-top: 55.2px;
        padding: 80px 34px;
    }

    #home {
        padding-top: 100px;
        padding-bottom: 100px;

        .text-content-home {
            min-width: 350px;
            max-width: 508px;
        }

        .decoration-paragraphs {
            @include mixins.decoration-paragraphs(variables.$p-hero-sect-1024-N1);
            margin-bottom: 60px;
        }

        a {
            @include mixins.cta-button(variables.$primary-color-1, variables.$primary-color-2);
            font-size: 18px;
            
            &:hover {
                background-color: variables.$text-color-2;
                color: variables.$primary-color-1;
            }
        }

        .hero-pink-squa {
            width: calc(614px * 0.9);
            height: calc(553px * 0.9);
        }

        .container-collage {
            width: calc(600px * 0.9);
            height: calc(500px * 0.9);
            padding-left: 23px;
            gap: 15px;
            top: -30px;
            left: 3px;
        }

        .img-small {
            width: calc(191px * 0.9);
            height: calc(297px * 0.9);
        }

        .img-large {
            width: calc(339px * 0.9);
            height: calc(297px * 0.9);
        }

        .rectangle-on-collage {
            width: calc(491px * 0.9);
            height: calc(674px * 0.9);
            top: -25px;
            left: 48px;
        }
    }

    #about {
        scroll-margin-top: 20px;

        .about-pink-squa {
            width: calc(392px * 0.8);
            height: calc(492px * 0.8);

            img {
                width: calc(392px * 0.8);
                height: calc(492px * 0.8);
            }

            .rectangle-for-about {
                width: calc(392px * 0.8);
                height: calc(492px * 0.8);
                top: calc(-496px * 0.8);
            }
        }

        .decoration-paragraphs {
            @include mixins.decoration-paragraphs(variables.$p-hero-sect-1024-N1);
            margin-bottom: 60px;
        }

        .text-content-home {
            width: calc(611px * 0.8);
        }

        
    }

    #reviews {
        gap: 50px;
        
        img {
            max-width: 110px;
            max-height: 110px;
        }

        .list-reviews {
            grid-template-columns: repeat(2, 402px);
            gap: 20px;
        }

        .item-list-reviews:last-child {
            grid-column: 1 / -1;
            width: 402px;
            justify-self: center;
        }

        .decoration-paragraphs {
            padding: 25px;
            max-width: 370px;
        }

        .top-rectangular-dark {
            width: 157px;
            height: 140px;
            top: -22px;
            left: 136px;
        }

        .top-rectangular-light {
            width: 157px;
            height: 140px;
            top: -8px;
            left: 108px;
        }

        .item-list-reviews {
            gap: 37px;
        }

        .decoration-paragraphs {
            @include mixins.decoration-paragraphs(variables.$p-hero-sect-1024-N1);
            text-align: justify;
        }

        a {
            @include mixins.cta-button(variables.$text-color-2, variables.$primary-color-1);

            &:hover {
                background-color: variables.$text-color-2;
                color: variables.$primary-color-1;
            }
        }

        .bottom-rectangular {
            width: 402px;
            height: 254px;
            top: 70px;
        }
    }

    #portfolio {
        gap: 20px;
        scroll-margin-top: 0px;

        .switch {
            transform: scale(1.0);

            &:hover {
                transform: scale(110%);
                outline-color: variables.$primary-color-1;
            }
        }

        .navigation-collage {
            gap: 45px;
        }

        .portfolio-collage {
            gap: 20px;
        }

        .large-img-in-coll-right {
            gap: 20px;
        }

        .small-img-in-coll-right {
            gap: 20px;
        }

        .pink-rectangular-portfolio {
            top: -20px;
            left: -20px;
        }

        .pink-rectangular-portfolio {
            width: calc(237px * 0.7);
            height: calc(366px * 0.7);
        }
        
        .dark-border-rectangular-portfolio {
            width: calc(237px * 0.7);
            height: calc(366px * 0.7);
            top: 22px;
            left: 15px;
        }
        
        .dark-rectangular-portfolio {
            width: calc(448px * 0.7);
            height: calc(160px * 0.7);
            bottom: -20px;
            right: -20px;
        }
        
        .light-border-rectangular-portfolio {
            width: calc(448px * 0.7);
            height: calc(160px * 0.7);
            bottom: 12px;
            right: 15px;
        }
        
        .img-1, .img-2, .img-3, .img-8 {
            width: calc(277px * 0.7);
            height: calc(200px * 0.7);
        }
        
        .img-4 {
            width: calc(297px * 0.7);
            height: calc(420px * 0.7);
        }
        
        .img-5 {
            width: calc(382px * 0.7);
            height: calc(420px * 0.7);
        }
        
        .img-6,
        .img-7 {
            width: calc(191px * 0.7);
            height: calc(200px * 0.7);
        }
    }

    #price {
        height: calc(100% - 52.2px);
        scroll-margin-top: 0px;
        gap: 50px;

        img {
            width: calc(255px * 0.8);
            height: calc(240px * 0.8);
        }
    }

    footer {
        padding: 0 34px;

        form {
            margin: 86px 0;
        }

        legend {
            font-size: variables.$legend-size-1440;
            margin-bottom: 18px;
            line-height: 31px;
        }

        label {
            margin-bottom: 18px;
            width: 380px;
        }

        input[type="tel"],
        input[type="email"],
        textarea {
            width: 380px;
            padding: 9px 7px;
            font-size: variables.$textarea-size;
        }

        input[type="button"] {
            padding: 8px 100px;
        }

        textarea {
            min-width: 380px;
            max-width: 380px;
        }

        a {
            font-size: variables.$li-nav-and-footer-1024;
        }

        .contact-on-social {
            margin-bottom: 86px;
        }

        .list-social {
            gap: 50px;
        }

        input[type="button"] {
            @include mixins.cta-button(variables.$text-color-2, variables.$primary-color-1);
            padding: 8px 90px;
        }
    }
}

@media screen and (min-width: 1440px) {
    h1, h2, h3, h4, h5, h6 {
        font-size: variables.$heading-size-1440;
    }

    nav {
        width: 100%;
        padding: 0 96px;
        
        .logo {
            text-transform: uppercase;
            font-size: variables.$logo-size-1440;
        }

        a {
            font-size: variables.$p-hero-sect-1440-N1;
            padding: 30px 20px;

            &::after {
                bottom: 20px;
            }
        }
    }

    main {
        padding-top: 79.2px;
    }

    section {
        scroll-margin-top: 79.2px;
        padding: 126px 96px;
    }

    #home {
        height: calc(100% - 79.2px);

        .text-content-home {
            max-width: 508px;
        }

        .decoration-paragraphs {
            @include mixins.decoration-paragraphs(variables.$p-hero-sect-1440-N1);
        }

        a {
            @include mixins.cta-button(variables.$primary-color-1, variables.$primary-color-2);
            
            &:hover {
                background-color: variables.$text-color-2;
                color: variables.$primary-color-1;
            }
        }
        
        .hero-pink-squa {
            transform: scale(1);
            width: 614px;
            height: 553px;
        }

        .container-collage {
            width: 600px;
            height: 500px;
            padding-left: 32px;
        }

        .img-small {
            width: 191px;
            height: 297px;
        }

        .img-large {
            width: 339px;
            height: 297px;
        }

        .rectangle-on-collage {
            width: 491px;
            height: 674px;
            top: -30px;
            left: 60px;
        }
    }

    #about {
        height: calc(100% - 79.2px);
        scroll-margin-top: 0px;

        .about-pink-squa {
            width: 392px;
            height: 492px;

            img {
                width: 392px;
                height: 492px;
            }

            .rectangle-for-about {
                width: 392px;
                height: 492px;
                top: -496px;
            }
        }

        .text-content-home {
            width: 611px;
        }

        .decoration-paragraphs {
            @include mixins.decoration-paragraphs(variables.$p-hero-sect-1440-N1);
        }
    }

    #reviews {
        height: calc(100% - 79.2px);

        .list-reviews {
            grid-template-columns: repeat(3, 402px);
            gap: 40px;
        }

        .item-list-reviews:last-child {
            grid-column: 3;
        }

        .decoration-paragraphs {
            @include mixins.decoration-paragraphs(variables.$p-hero-sect-1440-N1);
        }
    }

    #portfolio {
        height: calc(100% - 79.2px);
        scroll-margin-top: 0px;

        .navigation-collage {
            width: 100%;
            gap: 45px;
        }

        .pink-rectangular-portfolio {
            width: 237px;
            height: 366px;
        }

        .dark-border-rectangular-portfolio {
            width: 237px;
            height: 366px;
            top: 28px;
            left: 20px;
        }

        .dark-rectangular-portfolio {
            width: 448px;
            height: 160px;
        }

        .light-border-rectangular-portfolio {
            width: 448px;
            height: 160px;
            bottom: 20px;
            right: 20px;
        }

        .img-1,
        .img-2,
        .img-3,
        .img-8 {
            width: 277px;
            height: 200px;
        }

        .img-4 {
            width: 297px;
            height: 420px;
        }

        .img-5 {
            width: 382px;
            height: 420px;
        }

        .img-6,
        .img-7 {
            width: 191px;
            height: 200px;
        }
    }

    #price {
        height: calc(100% - 79.2px);
        gap: 73px;

        p {
            font-size: variables.$p-hero-sect-1440-N2;
        }

        img {
            width: 255px;
            height: 240px;
        }

        ul {
            gap: 10px;
        }

        li {
            gap: 10px;
            font-size: variables.$li-for-price-1440;
        }

        .list-type-price {
            gap: 40px;
        }

        .card-price {
            gap: 34px;
            padding: 21px;
            outline-offset: 20px;
        }

        .button-card-price {
            padding: 8px 52px;
            font-size: variables.$li-for-price-1440;
        }
    }

    footer {
        padding: 0 96px;

        form {
            margin: 126px 0;
        }

        label {
            margin-bottom: 28px;
            width: 402px;
        }

        input[type="tel"],
        input[type="email"],
        textarea {
            width: 402px;
            padding: 13px 11px;
        }

        textarea {
            min-width: 402px;
            max-width: 402px;
        }

        input[type="button"] {
            padding: 10px 118px;
        }

        .contact-on-social {
            margin-bottom: 126px;
        }

        li {
            align-items: end;
            gap: 20px;

            &:first-of-type {
                margin-bottom: 20px;
            }
        }
    }
}